header {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    @include marginGlobal;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  a {
    color: $color-3;
    font-size: 1.2rem;
  }
}

// navbar animation du surlignement
.nav-active {
  position: relative;

  &::after {
    content: "";
    height: 1px;
    width: 0;
    background: $color-3;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    animation: animLine 0.5s ease forwards;
    @keyframes animLine {
      to {
        width: 100%;
      }
    }
  }
}
